body{
    margin: 0;
    overflow-x: hidden;
  }
  
  .navbar{
    padding: 20px 0;
    box-shadow: 0 5px 30px 0 #000000;
    background-color: #191919;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .navbar.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .navbar.hide {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .navbar a img{
    width: 100px;
    height: auto;
    object-fit: contain;
    opacity: 1 !important;
  }
  
  .navbar .collapse ul li{
    font-family: "Lato", serif;
    padding: 0 5px;
  }

  .cover{
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .cover::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 3;
    top: 0;
  }

  .cover::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: inset 0 0 1000px #000;
    z-index: 3;
    top: 0;
  }

  .cover .content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    z-index: 5;
  }

  .cover .content-container .content-center{
    width: fit-content;
  }

  .cover .content-center .img-container img{
    width: 300px;
    padding: 30px 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 150px 40px rgba(0,0,0,0.75);
    z-index: 4;
  }

  .cover .content-container .content-center p{
    text-align: center;
    width: fit-content;
    margin: 15px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #ffffff;
    padding: 8px 20px 4px 20px;
    color: #ffffff;
    background-color: #5e17eb;
    z-index: 5;
    position: relative;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
  }

  .cover .slider-container{
    margin: 10px 0 0 0;
  }

  .cover .slider-container img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .cover .slider-container .slick-slide {
    padding: 0 8px;
  }

  .about-pt{
    padding: 100px 0;
    background-image: url('../src/assets/image/bg-amk/bg1.png');
    background-position: 20% 65%;
    position: relative;
  }

  .about-pt::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(25,25,25,0.7) 35%, rgba(25,25,25,0.7) 60%, rgba(25,25,25,1) 100%);
  }

  .about-pt .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-pt .container .content{
    width: 70%;
    color: #ffffff;
    position: relative;
    z-index: 3;
  }

  .about-pt .container .content h2{
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 34px;
    position: relative;
    display: inline-block;
    margin: 0;
  }

  .about-pt .container .content h2::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 6px;
    background-color: #5e17eb;
    top: -15px;
  }

  .about-pt .container .content .text{
    margin: 15px 0 0 0;
  }

  .about-pt .container .content .text p{
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    opacity: 0.8;
  }

  .about-us{
    height: 700px;
    box-shadow: 0 0 10px 0 #919191;
    z-index: 1;
    position: relative;
    /* overflow: hidden; */
  }

  .about-us .row{
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .about-us .row .content-left{
    width: 33%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-us .row .content-left .cover-image{
    width: 70%;
    height: 400px;
    background-color: #ffffff;
    overflow: hidden;
    border: 5px solid #191919;
    border-radius: 10px;
  }

  .about-us .row .content-left .cover-image img{
    width: 350px;
    margin: 30px 0 0 -60px;
  }

  .about-us .row .content-left .title{
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .about-us .row .content-left .title h4{
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #5e17eb;
  }

  .about-us .row .content-left .title h5{
    font-family: "Open Sans", serif;
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #191919;
    opacity: 0.9;
  }

  .about-us .row .content-center{
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5e17eb;
  }

  .about-us .row .content-center .title h2{
    color: #ffffff;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
  }

  .about-us .row .content-center .title h2 span{
    font-size: 50px;
    font-weight: 400;
  }

  .about-us .row .content-right{
    width: 33%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-us .row .content-right .cover-image{
    width: 70%;
    height: 400px;
    overflow: hidden;
    background-color: #ffffff;
    border: 5px solid #191919;
    border-radius: 10px;
  }

  .about-us .row .content-right .cover-image img{
    width: 400px;
    margin: 35px 0 0 -10px;
  }

  .about-us .row .content-right .title{
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }

  .about-us .row .content-right .title h4{
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color: #5e17eb;
  }

  .about-us .row .content-right .title h5{
    font-family: "Open Sans", serif;
    margin: 5px 0 0 0 ;
    font-size: 18px;
    color: #191919;
    opacity: 0.9;
  }

  .brand {
    padding: 130px 0 180px 0;
    position: relative;
  }

  .brand::after{
    content: "";
    position: absolute;
    background-image: url('../src/assets/elemen/elemen1.png');
    width: 120px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    bottom: 15px;
  }
  
  .brand .container .row{
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .brand .container .row .title h2{
    font-family: "League Spartan", sans-serif;
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    color: #191919;
    box-shadow: 0px 3px 0 0 #5e17eb;
    padding: 8px 20px;
  }
  
  .brand .container .row .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 70px;
  }
  
  .brand .container .row .content a img{
    width: 200px;
  }

  .footer{
    background-color: #191919;
    color: #ffffff;
    padding: 30px 0;
  } 
  
  .footer .text-center p{
    font-family: "Open Sans", serif;
    opacity: 0.75;
    font-size: 14px;
  }

  @media screen and (max-width: 1200px) {
    .about-us .row .content-left .cover-image{
      width: 90%;
    }
    .about-us .row .content-right .cover-image{
      width: 90%;
    }

    .about-us{
      height: 650px;
    }
  }

  @media screen and (max-width: 991px) {
    .cover .slider-container img {
      height: 150px;
    }

    .about-pt{
      padding: 90px 0;
      background-position: 20% 70%;
    }

    .about-pt .container .content{
      width: 85%;
    }

    .about-us .row .content-left .cover-image{
      width: 95%;
      height: 300px;
    }

    .about-us .row .content-left .cover-image img{
      width: 300px;
      margin: 10px 0 0 -30px;
    }

    .about-us .row .content-right .cover-image{
      width: 95%;
      height: 300px;
    }

    .about-us .row .content-right .cover-image img{
      width: 280px;
      margin: 30px 0 0 -10px;
    }

    .about-us{
      height: 550px;
    }

    .about-us .row .content-left .title h4{
      font-size: 20px;
    }

    .about-us .row .content-left .title h5{
      font-size: 16px;
    }

    .about-us .row .content-right .title h4{
      font-size: 20px;
    }

    .about-us .row .content-right .title h5{
      font-size: 16px;
    }

    .about-us .row .content-center .title h2{
      font-size: 28px;
    }
  }

  @media screen and (max-width: 768px) {
    .about-pt .container .content{
      width: 100%;
    }

    .about-pt{
      padding: 90px 0;
      background-position: 25% 80%;
    }

    .about-us{
      height: fit-content;
      padding: 0 0 70px 0;
    }

    .about-us .row{
      width: 100%;
      flex-direction: row;
      gap: 60px 25px;
      margin: 0 -24px 0 0;
    }

    .about-us .row .content-center{
      width: 100%;
      order: -1;
      padding: 30px 0;
    }

    .about-us .row .content-left{
      width: calc(50% - 30px);
      padding: 0;
    }

    .about-us .row .content-right{
      width: calc(50% - 30px);
      padding: 0;
    }

    .about-us .row .content-right .cover-image img{
      width: 280px;
      margin: 30px 0 0 20px;
    }

    .brand {
      padding: 100px 0 150px 0;
      position: relative;
    }

    .brand .container .row{
      gap: 60px;
    }
  }

  @media screen and (max-width: 576px) {
    .cover .slider-container img {
      height: 140px;
    }

    .about-us .row .content-left{
      width: 80%;
    }
    .about-us .row .content-right{
      width: 80%;
    }

    .about-us .row .content-left .cover-image img{
      width: 350px;
      margin: 10px 0 0 -20px;
    }

    .about-us .row .content-right .cover-image img{
      width: 400px;
      margin: 20px 0 0 -20px;
    }
    
    .brand::after{
      content: "";
      position: absolute;
      background-image: url('../src/assets/elemen/elemen1.png');
      width: 100px;
      height: 70px;
    }
  }

  @media screen and (max-width: 380px) {
    .cover .content-center .img-container img{
      width: 250px;
    }

    .cover .content-container .content-center p{
      font-size: 16px;
    }

    .cover .slider-container img {
      height: 130px;
    }

    .about-pt .container .content h2{
      font-size: 28px;
    }

    .about-pt .container .content .text p{
      font-size: 14px;
    }

    .about-us .row .content-left{
      width: 100%;
    }
    .about-us .row .content-right{
      width: 100%;
    }
    .about-us .row .content-left .cover-image img{
      width: 350px;
      margin: 10px 0 0 -50px;
    }

    .about-us .row .content-right .cover-image img{
      width: 400px;
      margin: 20px 0 0 -50px;
    }

    .footer .container .text-center p{
      font-size: 11px;
    }
  
  }